

<div class="container">
  <div class="row">

 
<div class="well">

<ul style=" list-style-type: none;">

<% @all_news.each do |news| %>
<li > <h2><%= news.title %></h2> <br> 
  <h4><%= news.category %> </h4><br>
  <p style="text-align:justify;"> <%= news.content %> </p> <br>
  <img src= " <%= news.url %> "/>

 </li>
 <br/>
<% end %>
</ul>

</div>
</div>
</div>
