
<% if correct_user(@user) %>
<div class="container">
  <div class="row">

 
<div class="well">

<ul style=" list-style-type: none;">

<% @all_news.each do |news| %>
<li > <h2><%= news.title %></h2> 
  <h4><%= news.category %> </h4>
  <p style="text-align:justify;"> <%= news.content.html_safe %> </p> 
  <img style="align:centre;" src= " <%= news.url %> "/>

 </li>

<% end %>
</ul>

</div>
</div>
</div>
<% end %>
